# misc
.DS_Store

# local
*.local

#env
*.local
*.prod.env
*.dev.env
*.test.env 

*.log

**/node_modules/*
**/coverage/*
**/.vscode/*
**/lib/*
**/build/*
**/out/*
**/dist/*
**/built/*
**/.vs
**/.idea/*
**/.secrets/*

*.zip
*.tgz
*.tar.gz
*.lock
**/*_cache_*/*